*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul li a{
    font-size: 8px;
}
li{
    list-style-type: none;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.box{
    width: 20vw;
    height: 40vh;
    background-color: #6f6c6c;
    border-radius: 10%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    flex-wrap: wrap;
}
.cont2{
    display: flex;
    justify-content: center;
}
.img{
    width: 50%;
    height: 50%;
}
section div p{
    font-size: 10px;
}
section div a{
    font-size: 5px;
}
.ct1{
    border: 0.5px solid #0f0f0f;
    border-radius: 5px;
    width: 70%;
    padding: 2px;

}
.ct1 p{
    font-size: 5px;
}
.contain{
    display: flex;
    justify-content: center;
    margin: 10px auto;
   
}
@media screen and (max-width:360px) {
    /* .contain .ct1{
        display: flex;
        flex-wrap: wrap;
    } */
    body{
        background-color: #9f9797;
    }
    .cont{
        display: flex;
        flex-direction: column;
        align-items: start;
       
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap; 
        padding: 10px 10px; 
        justify-content: center;      
    }
    .box{
        width: 18vw;
        height: 30vh;
        background-color: #6f6c6c;
        border-radius: 10%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .img{
        width: 30%;
        height: 30%;
    }
}